
main {
    background-image: url(../../_img/embossed-diamond.png); 
}

.title{
    padding: auto;
    text-align: center;
}

body{
    background-image: radial-gradient(pink, rgb(240, 108, 108)); 
}

img{
    width: 40%;
    margin: auto;
}

.text{
    text-align: justify;
    text-decoration: wavy;
}

.button{
    display: inline-block;
    padding: 40px 40px;
    border-radius: 40px;
    border: 2px solid orange;
    background-color: orange;
    font-size: xx-large;

}