<<<<<<< HEAD
main {
    background-image: url(../../_img/embossed-diamond.png); 
}

.title{
    padding: auto;
    text-align: center;
    border: 1px ridge tomato;
}

=======
>>>>>>> design
body{
    background-image: radial-gradient(pink, rgb(240, 108, 108)); 
}